@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Yellowtail&display=swap');

:root {
    --primary-color: #F59E0B;
    --dark-gray: #374151;
}

body {
    font-family: 'Caveat', cursive;
    font-size: xx-large;
    margin: 0px
}


textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

.container {
    padding: 0rem 1rem;
}
.mid-body{
    padding: 1rem;
    margin:auto;
    margin-left: 21rem;
    text-align: left;
    font-family: inherit;
}

.mid-body-text{
    font-size:xx-large; 
    color:  var(--dark-grey)
}

.header {
    background-color: var(--dark-gray);
    color: white;
    padding: 1rem;
}

.header .head-hero {
    font-weight: bold;
}


footer {
    position: fixed;
    height: 130px;
    bottom: 0;
    width: 100%;
    padding: 0rem;
    background-color: var(--dark-gray);
    text-align: center;
}
main {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}

footer p {
    max-width:600px;
    margin: auto;
    font-size: large;
    color: white;
}

textarea {
    box-sizing: border-box;
    display: block;
    min-height: 20vh;
    margin: auto;
    margin-top: 2rem;
    width: 45%;
    padding: 10px;
    font-size: x-large;
    font-family: inherit;
}

#output {
    border: 1px solid black;
    display: block;
    min-height: 09vh;
    margin: auto;
    width: 45%;
    padding: 10px;
    font-size: x-large;
    font-family: inherit;
}
#btn-translate {
    background-color: var(--dark-gray);
    color:white;
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: large;
}